* {
    padding: 0;
    font-family: Arial, Halvetica, sans-serif;
}
body {
    background-color: #1d1d20;
    color: #d1d1d1;
}
.main-container {
    padding: 20px;
}
.inner-container {
    padding: 20px;
}
header{

}
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    margin: 5px;
    list-style-type: none;
}
main {
    min-height: 450px;
    min-width: 800px;
    padding: 20px;
}
footer {
    display: flex;
    justify-content: flex-end;
}