* {
    padding: 0;
    font-family: Arial, Halvetica, sans-serif;
}
body {
    background-color: #1d1d20;
    color: #d1d1d1;
    padding: 20px;
}
.main {
    padding: 20px;
}
.main-container {
    padding: 20px;
}
.inner-container {
    padding: 20px;
}
header{

}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
img {
    width: 50px;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
}
.links a {
    color: darkkhaki;
}
.item:hover {
    transform: scale(1.2);
}
main {
    min-height: 400px;
    min-width: 800px;
    padding: 20px;
}
.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#Portfolio {
    min-width: auto;
    min-height: auto;
    font-family: Calibri, sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px white, -2px -2px 5px white;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: blue;
}
.issues {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    margin: 5px;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #d1d1d1;
    margin: 10px;
}
footer {
    display: flex;
    justify-content: flex-end;
}