* {
    padding: 0;
    font-family: Arial, Halvetica, sans-serif;
}
body{
    background-color: #d1d1d1;
    color: #1d1d20;
    padding: 20px;
}
a {
    text-decoration: none;
    margin: 10px;
}
h1 {
    display: flex;
    justify-content: center;
}
img {
    float: right;
}
.factor {
   clear: right;
}
.sterk {
    color: #008000;
}
.zwakt {
    color: #990000;
}
